<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="#">
      <img src="../../../assets/images/logo.jpeg" alt="Logo" width="100" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse me-5" id="navbarNav">
      <ul class="navbar-nav ms-auto">
       
        <li class="nav-item">
          <a class="nav-link" href="https://www.ifts11.com/wp/sample-page/#page-content" target="_blank">Instituto </a>
        </li>
        
        <li class="nav-item">
          <a *ngIf="!chequearSesion()" routerLink="" class="nav-link">Iniciar sesión</a>
          <a *ngIf="chequearSesion()" (click)="desloguearse()" class="nav-link" href="#">Cerrar sesión</a>
        </li>

     
        
        
      </ul>
    </div>
  </div>
</nav>
