<footer class="container-fluid mt-5 pt-4 pb-3">
  <div class="row">
    <!-- Columna Izquierda -->
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 mb-3 ">
      <div class="footer-content ">
        <a routerLink="terminos_condiciones" class=" d-block mb-2 text-white">Términos y condiciones</a>
        <a routerLink="politica_de_privacidad" class=" d-block mb-2 text-white">Política de privacidad</a>
      </div>
    </div>

    <!-- Columna del Medio -->
    <div class="col-12 col-sm-4 col-md-4	col-lg-4 col-xl-4	col-xxl-4 mb-3">
      <div class="footer-content text-center">
        <img width="70" src="../../../assets/images/logo.jpeg" alt="" class="mb-2">
        <p class="small mt-2 text-white">Copyright © 2023-2024</p>
      </div>
    </div>

    <!-- Columna Derecha -->
    <div class="col-12 col-sm-4 col-md-4	col-lg-4 col-xl-4	col-xxl-4 mb-3">
      <div class="footer-content text-white">
        <p class="mb-1"><b>IFTS11</b></p>
        <p class="mb-1">Tel: (011) 4985-1111</p>
        <p class="mb-1">iftsonce&#64;gmail.com</p>
      </div>
    </div>
  </div>
</footer>
