<div class="container">
  <app-toolbar></app-toolbar>
  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Programas solicitados</th>
            <th scope="col">Equipos solicitados</th>
            <th scope="col">Solicitado el</th>
            <th scope="col">Solicitado para el</th>
            <th scope="col">Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <th scope="row">{{item.id}}</th>
            <td>{{item.programas_solicitados}}</td>
            <td>{{item.equipos_solicitados}}</td>
            <td>{{item.solicitado_el}}</td>
            <td>{{item.solicitado_para_el}}</td>
            <td>{{item.estado}}</td>
            <td>
              <div *ngIf="item.estado == 'ACCEPTED'">
                <button type="button" class="btn btn-sm btn-warning" [routerLink]="['/list-request',item.id]">Editar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>