<div class="modal fade" [class.show]="isVisible" [style.display]="isVisible ? 'block' : 'none'" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nueva Solicitud</h5>
                <button type="button" class="btn-close" (click)="onClose()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-form-new-request></app-form-new-request>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onClose()">Cancelar</button>
                <button type="button" class="btn btn-success" (click)="onSubmit()">Guardar</button>
            </div>
        </div>
    </div>
</div>