<section class="sectionSinSesion" *ngIf="!chequearSesion()">
  <div class="container mt-5">
    <h2 class="pt-5 text-center">Para utilizar el dashboard, es necesario iniciar sesión</h2>
    <h3 class="pt-5 text-center sesionbutton" routerLink="">Iniciar sesión</h3>
  </div>
</section>

<section *ngIf="chequearSesion()">
  <div class="container mt-5 pb-5 mb-5">
    <h2 class="pt-2 text-center pb-4">Dashboard para profesor</h2>
    <div class="row justify-content-center">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="./assets/images/solicitudes.png" class="img-fluid mt-4" alt="Imagen de solicitudes">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Solicitudes</h5>
                <p class="card-text">Aqui se visualizan todas las solicitudes de programas realizados.</p>
                <a href="/list-request" class="btn btn-primary">Ver mis solicitudes</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
</section>
